################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExampleProject/bin/Debug
/ExampleProject/obj/Debug
/Localization/bin/Debug
/Localization/obj/Debug
/LocalizationEditor/bin/Debug
/LocalizationEditor/obj/Debug
